{% extends 'base.html'%}

{% block content %}

<title>个人博客</title>
<style>
    html,body{
        height: 100%;
    }
    .container{
        position:relative;
         left:100px;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
    }
    .row{
        float: left; 		/* 要左浮动 */
        margin-right: 40px;
        width: 50%;
        position: absolute;
         top:0;
        left:0;
    }
    .similar{
        float: right;
        width: 50%;
        position: absolute;
         top:0;

        right:0;
    }
    a{
        display: block;
        height: 30px;
        width: auto;
        text-decoration: none;
        color: black;
        font-family: "Yuanti SC";
        font-size: 20px;
        font-weight: bold;
        margin: 0px 0 0 10px;
    }
    a:hover{
        font-size: 25px;
    }
    p{
        display: inline-block;
        font-family: "Yuanti SC";
        font-size: 10px;
        color: #1b1b1b;
        margin: 0 0 0 10px;
    }
     lu{
        display: inline-block;
        font-family: "Yuanti SC";
        font-size: 10px;
        color: #666666;
        margin: 0 0 0 10px;
    }

</style>
<body>

    <div class="container">
         <div class = "similar">
        <br/>
        <p>文章匹配程度分别为：</p>
        <br/>
         {% for z in similar %}
                <p>第{{forloop.counter}}文章匹配程度：</p>
                <p>{{z}}</p>
                <br/>
        {% endfor %}
    </div>
        <div  class="row">
        <lu  font- color="#edecd6" >依据您的设定进行匹配的词汇：  </lu>
        {% for y in token %}
        <p >{{y}}</p>
        {% endfor %}
        <br/>
        <p>共有约 {{ length }}条结果,其中与您搜索相关的{{related}}条 </p>
        <div>
                {% for x in news %}
                <p><a  href="/GoAbroad/detail/{{x.id}}/" >{{x.title}}</a></p>
                <br/>
                <p>发布日期：{{x.time}}</p>
                 <br/>
                <p>URL：{{x.url}}</p>
                 <br/>
                 <br/>
                {% empty %}
                 <p>-----敬请期待-----</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>





{% endblock %}