<!DOCTYPE html>
<html lang="zh">
{% extends 'base.html'%}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{news.title}}</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/lib/w3.css">
<link rel="stylesheet" href="../lib/w3-theme-black.css">
<link rel="stylesheet" href="../../fonts.googleapis.com/css-family=Roboto.html">
<link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body>

<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-hor-64">
    <div class="w3-twothird w3-container">
    {% csrf_token %}
    <div class="box" >
        <h1 class="w3-text-teal"><span class="title">{{news.title}}</span></h1>
        <p>{{news.text}}</p>
    </div>

  </div>


</body>
</html>
{% endblock %}